body {
  background-color: ;
  margin: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  color: #666;
  font-size:13px;
}

h1 {
  background-color: ;
  margin: 0;
  width: 390px;
  padding: 30px;
}

p {
  background-color:;
  margin: 0;
  font-size:18px;
  line-height: 22px;
  width: 390px;
  padding: 0 30px;
  text-indent: 18px;
}

ul {
  padding: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  height: 30px;
  text-align: right;
}

li {
  list-style-type: none;
  display: inline-block;
  margin:0;
  padding: 6px;

}

li:hover {
  background-color: #6C3;
}

#facil {
  height: 550px;
  background-image: url(../img/mobile-share.png);
  background-position: 400px 15px;
}

/*
a:link {
  color: black;
}
a:hover {
  background-color: blue;
}
a:active {
    background-color: black;
    color: yellow;
}
a:visited {
  color: black;
}
*/

div {
  background-repeat: no-repeat;
  background-position: 400px 0;
}

#descarrega img{
    padding: 30px;
}



.blanca {
  background-color: #FFF;
}

.verda {
  background-color: #6C3;
  height: 550px;
}

.fosca {
  background-color: #333;
}

.clara {
  background-color: #EEECEE;
}

#menu {
  height: 40px;
}

#menu img {

}

#coneix {
  background-image: url(../img/img-hero-full-list.png);
}

#tot {
  height: 641px;
  background-image: url(../img/allinone.jpg);
}

#util {
  height: 500px;
  background-image: url(../img/curator-short.png);
}

#descarrega {
  text-align: center;
  height: 200px;
}

#rapid {
  height: 550px;
  background-image: url(../img/img-hero-full-list.png);
}



#arreu {
  height: 643px;
  background-image: url(../img/anywhere.png);

}


.torna {
  height: 100px;
  width: 100px;
  background-color: yellow;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50px;
  font-size: 80px;
  text-align: center;
  line-height: 120px;
  box-shadow: black 10px 10px 10px;
}
