p {background-color: tomato;}

div {
  font-family: Arial, Sans-serif;
  color: white;
}

h2 {
  clear: both;
}

.primer {
  float: left;
  font-size: 3em;
  width: 5em;
  margin: 1em;
  background-color: olive;
}

.segon {
  float: left;
  font-size: 3em;
  background-color: red;
  height: 5em;
  width: 30%;
  margin: 1.6%;
}

.tercer {
  float: left;
  background-color: blue;
  font-size: 3em;
  width: 5em;
  margin: 1em;
}

.contenidor {
  background-color: orange;
  overflow: hidden;
  width: 63em;
  margin: 0 auto;
}
