body {
  background-image: url(../img/mostra.jp);
  background-size: cove;
  background-repeat: no-repeat;

}


.cap {
  position: relative;
  top: 50px;
  width:400px;
  height: 640px;
  background: pink;
  opacity: 1;
  margin: 0 auto;
  border-radius: 300px 300px 400px 400px;

}

.front {
  color: white;
  height: 100px;
  background: red;
  width: 100%;
  margin-right: 0;




}

.celles {
  position: relative;
  height: 80px;
    background: ;

}

.cabell {
  height: 200px;
  background: black;
}

.blanc {
  width: 60px;
  height: 60px;
  background: white;
  display: inline-block;
  border-radius: 50%;
}

.esquerra .blanc {
  margin-left: 100px;
}

.dreta .blanc {
  margin-right: 100px;
}

.orelles {
  height: 75px;
  clear: both;
  position: relative;
  top: -50px;
}



.pupila {
  width: 20px;
  height: 20px;
  background: black;
  display: inline-block;
  border-radius: 50%;
  margin: 20px;
}


.esquerra {
  float: left;
}

.dreta {
  float: right;
}

.orelles .esquerra {
  width: 50px;
  height: 75px;
  background: blue;
  border-radius: 50px 0 0 50px;
  position: relative;
  left:-40px;

}

.orelles .dreta {
  position: relative;
  width: 50px;
  height: 75px;
  background: yellowgreen;
  border-radius:  0 50px 50px 0;
  right:-40px;

}

.pel {
  width: 60px;
  height: 60px;
  background: maroon;
  border-radius: 50%;
  box-shadow: dlateral dvertical desenfoc extensió  color;
}
